# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: true

      - name: Download and tidy dependencies
        run: |
          go mod tidy
          go mod download

      - name: Build (default linux/amd64)
        run: go build -ldflags="-s -w" -o phone-agent cmd/main.go

      - name: Build (windows linux)
        run: |
          mkdir -p bin
          # Windows amd64
          CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -ldflags="-s -w" -o bin/phone-agent-windows-amd64.exe cmd/main.go
          # Windows 386
          CGO_ENABLED=0 GOOS=windows GOARCH=386 go build -ldflags="-s -w" -o bin/phone-agent-windows-386.exe cmd/main.go
          # Linux amd64
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -ldflags="-s -w" -o bin/phone-agent-linux-amd64 cmd/main.go
          # Linux 386
          CGO_ENABLED=0 GOOS=linux GOARCH=386 go build -ldflags="-s -w" -o bin/phone-agent-linux-386 cmd/main.go
          # Linux arm64
          CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -ldflags="-s -w" -o bin/phone-agent-linux-arm64 cmd/main.go
          # Linux arm
          CGO_ENABLED=0 GOOS=linux GOARCH=arm go build -ldflags="-s -w" -o bin/phone-agent-linux-arm cmd/main.go
          
